<div class="container">
    <div class="row" style="margin-top: 50px;">

        <div class="commentBox">
            <div class="avatar">
                <img src={{avatar}}>
            </div>
            <div class="txt">
                <textarea id="commentArea" class="form-control" placeholder="Add Public Comment"></textarea>
                <button class="sendBtn" (click)="sendComment()">
                    <span class="material-icons-outlined send_icon">
                        send
                    </span>
                </button>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">

                <h2>{{count}} commentaires</h2>

                <div *ngFor="let comment of comments; let index = index;">
                    <div class="userComment">
                        <img src={{comment.avatar}}>
                        <div class="details">
                            <div class="user">{{comment.userName}}<span class="time">2020-09-13</span></div>
                            <div class="comment">{{comment.text}}</div>
                        </div>
                    </div>

                    <div class="replies">
                        <div *ngFor="let reply of replies">
                            <div class="userComment" *ngIf="reply.prev == comment.id">

                                <img src={{reply.avatar}}>
                                <div class="details">
                                    <div class="user">{{reply.userName}}<span class="time">2020-09-13</span></div>
                                    <div class="comment">{{reply.text}}</div>
                                </div>

                            </div>
                        </div>

                        <button class="replyBtn" (click)="toggleShow(index)">
                            <span>Répondre</span>
                            <span class="material-icons-outlined">
                                reply
                            </span>
                        </button>

                        <div *ngIf="isShown && checkIndex(index)">
                            <div class="replyBox">
                                <div class="txt">
                                    <textarea [id]="'replyArea' + index" class="form-control"
                                        placeholder="Add Public Comment"></textarea>
                                    <button class="sendBtn" (click)="sendReply(comment.id,index)">
                                        <span class="material-icons-outlined send_icon">
                                            send
                                        </span>
                                    </button>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>

        </div>
    </div>
</div>