<section>
    <h2 class="title">FAQs</h2>

    <div class="faq">

        <div class="block" id="block1">
            <div class="question" (click)="showAnswer(1)">
                <h3>What is .?</h3>

                <svg width="15" hight="10" viewBox="0 0 42 25">
                    <path d="M3 3L21 21L39 3" stroke="white" stroke-width="7" stroke-linecap="round" />
                </svg>

            </div>
            <div class="answer">
                <p>
                    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Expedita aspernatur fugiat placeat cumque
                    eaque numquam voluptate odio saepe veniam sed voluptatem, accusantium qui, neque commodi quia! Iste
                    quis
                    tenetur earum.
                    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Expedita aspernatur fugiat placeat cumque
                    eaque numquam voluptate odio saepe veniam sed voluptatem, accusantium qui, neque commodi quia! Iste
                    quis
                    tenetur earum.
                    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Expedita aspernatur fugiat placeat cumque
                    eaque numquam voluptate odio saepe veniam sed voluptatem, accusantium qui, neque commodi quia! Iste
                    quis
                    tenetur earum.
                    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Expedita aspernatur fugiat placeat cumque
                    eaque numquam voluptate odio saepe veniam sed voluptatem, accusantium qui, neque commodi quia! Iste
                    quis
                    tenetur earum.
                    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Expedita aspernatur fugiat placeat cumque
                    eaque numquam voluptate odio saepe veniam sed voluptatem, accusantium qui, neque commodi quia! Iste
                    quis
                    tenetur earum.
                    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Expedita aspernatur fugiat placeat cumque
                    eaque numquam voluptate odio saepe veniam sed voluptatem, accusantium qui, neque commodi quia! Iste
                    quis
                    tenetur earum.
                    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Expedita aspernatur fugiat placeat cumque
                    eaque numquam voluptate odio saepe veniam sed voluptatem, accusantium qui, neque commodi quia! Iste
                    quis
                    tenetur earum.
                    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Expedita aspernatur fugiat placeat cumque
                    eaque numquam voluptate odio saepe veniam sed voluptatem, accusantium qui, neque commodi quia! Iste
                    quis
                    tenetur earum.
                    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Expedita aspernatur fugiat placeat cumque
                    eaque numquam voluptate odio saepe veniam sed voluptatem, accusantium qui, neque commodi quia! Iste
                    quis
                    tenetur earum.
                    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Expedita aspernatur fugiat placeat cumque
                    eaque numquam voluptate odio saepe veniam sed voluptatem, accusantium qui, neque commodi quia! Iste
                    quis
                    tenetur earum.
                    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Expedita aspernatur fugiat placeat cumque
                    eaque numquam voluptate odio saepe veniam sed voluptatem, accusantium qui, neque commodi quia! Iste
                    quis
                    tenetur earum.
                    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Expedita aspernatur fugiat placeat cumque
                    eaque numquam voluptate odio saepe veniam sed voluptatem, accusantium qui, neque commodi quia! Iste
                    quis
                    tenetur earum.
                    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Expedita aspernatur fugiat placeat cumque
                    eaque numquam voluptate odio saepe veniam sed voluptatem, accusantium qui, neque commodi quia! Iste
                    quis
                    tenetur earum.
                    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Expedita aspernatur fugiat placeat cumque
                    eaque numquam voluptate odio saepe veniam sed voluptatem, accusantium qui, neque commodi quia! Iste
                    quis
                    tenetur earum.
                    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Expedita aspernatur fugiat placeat cumque
                    eaque numquam voluptate odio saepe veniam sed voluptatem, accusantium qui, neque commodi quia! Iste
                    quis
                    tenetur earum.
                    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Expedita aspernatur fugiat placeat cumque
                    eaque numquam voluptate odio saepe veniam sed voluptatem, accusantium qui, neque commodi quia! Iste
                    quis
                    tenetur earum.
                    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Expedita aspernatur fugiat placeat cumque
                    eaque numquam voluptate odio saepe veniam sed voluptatem, accusantium qui, neque commodi quia! Iste
                    quis
                    tenetur earum.
                    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Expedita aspernatur fugiat placeat cumque
                    eaque numquam voluptate odio saepe veniam sed voluptatem, accusantium qui, neque commodi quia! Iste
                    quis
                    tenetur earum.
                    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Expedita aspernatur fugiat placeat cumque
                    eaque numquam voluptate odio saepe veniam sed voluptatem, accusantium qui, neque commodi quia! Iste
                    quis
                    tenetur earum.
                    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Expedita aspernatur fugiat placeat cumque
                    eaque numquam voluptate odio saepe veniam sed voluptatem, accusantium qui, neque commodi quia! Iste
                    quis
                    tenetur earum.
                </p>
            </div>
        </div>

        <div class="block" id="block2">
            <div class="question" (click)="showAnswer(2)">
                <h3>What is .?</h3>

                <svg width="15" hight="10" viewBox="0 0 42 25">
                    <path d="M3 3L21 21L39 3" stroke="white" stroke-width="7" stroke-linecap="round" />
                </svg>

            </div>
            <div class="answer">
                <p>
                    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Expedita aspernatur fugiat placeat cumque
                    eaque numquam voluptate odio saepe veniam sed voluptatem, accusantium qui, neque commodi quia! Iste
                    quis
                    tenetur earum.
                    enetur earum.
                    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Expedita aspernatur fugiat placeat cumque
                    eaque numquam voluptate odio saepe veniam sed voluptatem, accusantium qui, neque commodi quia! Iste
                    quis
                    tenetur earum.
                    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Expedita aspernatur fugiat placeat cumque
                    eaque numquam voluptate odio saepe veniam sed voluptatem, accusantium qui, neque commodi quia! Iste
                    quis
                    tenetur earum.
                </p>
            </div>
        </div>

    </div>

</section>

<app-contact></app-contact>