<section>
    <h2 class="title">FAQ</h2>

    <div class="faq">

        <div class="block" id="block1">
            <div class="question" (click)="showAnswer(1)">
                <h3>À propos d’Herocar</h3>

                <svg width="15" hight="10" viewBox="0 0 42 25">
                    <path d="M3 3L21 21L39 3" stroke="white" stroke-width="7" stroke-linecap="round" />
                </svg>

            </div>
            <div class="answer answer1">
                <p>
                    Herocar est un projet réalisé par moi-même, Arnaud Pasquier, étudiant à l’université d'Orléans, dont
                    le but est de démontrer mes compétences techniques en Angular. Le site a été développé avec Angular
                    12 CLI et possède une base de données Firebase. </p>

                <p>
                    Herocar est un site d'enchères automobiles. Il
                    permet à un utilisateur disposant d’un compte de mettre en vente un ou plusieurs véhicules et
                    d’enchérir sur les annonces d’autres utilisateurs. Le site propose aussi d’autres fonctionnalités
                    telles que la création d’un compte, la modification des paramètres utilisateur, la modification des
                    annonces après upload ou encore un espace commentaire propre à chaque annonce.</p>

                <p>
                    Vous trouverez un
                    détail des fonctionnalités, page par page dans la section “Quelles sont les fonctionnalités du
                    site?” de la FAQ. Vous trouverez le code source complet du site à l’adresse suivante : <a href="https://github.com/pasquiera/garage_angular.git">https://github.com/pasquiera/garage_angular.git</a>
                </p>

                <p>Pour toutes questions, n'hésitez pas à me contacter sur mon adresse mail : pasquier.arn@gmail.com
                </p>

            </div>
        </div>

        <div class="block" id="block2">
            <div class="question" (click)="showAnswer(2)">
                <h3>Quelles sont les fonctionnalités du site?</h3>

                <svg width="15" hight="10" viewBox="0 0 42 25">
                    <path d="M3 3L21 21L39 3" stroke="white" stroke-width="7" stroke-linecap="round" />
                </svg>

            </div>
            <div class="answer answer2">

                <p>
                    Le site est divisé en deux parties, une partie accessible à tous les visiteurs
                    et une partie nécessitant la création d'un compte.
                </p>

                <h6>Partie accessible à tous:</h6>

                <p class="page">
                    /auctions
                </p>

                <ul>
                    <li>Cette page affiche l'ensemble des enchères en cours.</li>
                    <li>Les annonces peuvent être filtrées selon le type du véhicule, la date ou le prix.</li>
                    <li>Afin d’éviter d'éventuels ralentissements, les enchères sont récupérées depuis la base de
                        données
                        par groupe de 4 (lazy loading).</li>
                    <li>Le bouton "charger plus" permet d'afficher les 4 enchères suivantes.</li>
                </ul>

                <p class="page">
                    /car/[:id]
                </p>

                <ul>
                    <li>Cette page est générée automatiquement pour chaque annonce, elle affiche les détails d'un
                        véhicule.</li>
                    <li>Elle dispose d'une section “Enchérir” permettant aux utilisateurs disposant d'un compte
                        d'enchérir sur une annonce.</li>
                    <li>Elle dispose d'une section commentaire permettant aux utilisateurs de poster ou répondre à un
                        commentaire.</li>
                </ul>


                <p class="page">
                    /sell
                </p>

                <ul>
                    <li>Cette page présente les avantages de Herocar.</li>
                    <li>Le bouton "Commencer" redirige vers la fenêtre d'authentification.</li>
                    <li>La section "Actuellement en vente sur Herocar" est mise à jour en fonction des enchères en
                        cours.</li>
                </ul>

                <p class="page">
                    /faq
                </p>

                <ul>
                    <li>Cette page dispose d'un formulaire de contact fonctionnel.</li>
                </ul>

                <h6>Partie nécessitant la création d'un compte (accès restreint par Route Guards):</h6>

                <p class="page">
                    /create
                </p>

                <ul>
                    <li>Cette page dispose d'un formulaire permettant de mettre en vente un véhicule.</li>
                    <li>Le formulaire dispose d'une boîte d'upload permettant d'ajouter des images. Un système de drag
                        and drop permet de changer l'ordre dans lequel les images de l'annonce apparaissent.
                    </li>
                </ul>

                <div class="more-info" id="more-info">
                    <div class="image">
                        <img [src]="files[0]" (click)="openDialog(0)">
                        <img [src]="files[1]" (click)="openDialog(1)">
                    </div>
                </div>

                <p class="page">
                    /edit/[:id]
                </p>

                <ul>
                    <li>Cette page permet d'éditer toutes les informations d'une annonce.</li>
                    <li>Les informations sont récupérées depuis la base de données (Firebase) et modifiables via un
                        reactive form.
                    </li>
                </ul>

                <div class="more-info" id="more-info">
                    <div class="image">
                        <img [src]="files[2]" (click)="openDialog(2)">
                        <img [src]="files[3]" (click)="openDialog(3)">
                        <img [src]="files[4]" (click)="openDialog(4)">
                    </div>
                </div>

                <p class="page">
                    /settings
                </p>

                <ul>
                    <li>Cette page permet à l'utilisateur de modifier ses informations personnelles.
                    </li>
                    <li>En cas de changement d'adresse email, un mail de confirmation est envoyé à la nouvelle adresse.
                    </li>
                    <li>La page dispose d'un module permettant de rogner la taille de l'image de profil lors de
                        l’upload.
                    </li>
                </ul>

                <div class="more-info" id="more-info">
                    <div class="image">
                        <img [src]="files[5]" (click)="openDialog(5)">
                        <img [src]="files[6]" (click)="openDialog(6)">
                    </div>
                </div>

                <p class="page">
                    /bid
                </p>

                <ul>
                    <li>Cette page regroupe les annonces postées par l'utilisateur (Mes véhicules en vente) et les
                        annonces sur lesquelles il a enchéri (Mes enchères en cours).
                    </li>
                    <li>Chaque annonce postée par l'utilisateur est modifiable en cliquant sur l'icône <span
                            class="material-icons-outlined edit">
                            edit
                        </span> ou supprimable en cliquant sur l'icône <span class="material-icons-outlined delete">
                            delete
                        </span>.
                    </li>
                    <li>La section "Mes enchères en cours" est automatiquement mise à jour si l'utilisateur n'est plus
                        en tête d'une enchère.
                    </li>
                </ul>

                <div class="more-info" id="more-info">
                    <div class="image">
                        <img [src]="files[7]" (click)="openDialog(7)">
                        <img [src]="files[8]" (click)="openDialog(8)">
                    </div>
                </div>

            </div>
        </div>

    </div>

</section>

<app-contact></app-contact>