section {
    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 120px;
}

.title {
    font-size: 30px;
    font-weight: 500;
    margin-top: 3em;
}

.block {
    max-width: 700px;
    margin-top: 2rem;
    border-bottom: 2px solid #000;
    cursor: pointer;
}

.question {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.answer {
    max-height: 0;
    overflow: hidden;
    transition: max-height 1.4s ease;
}

.block.active .answer{
    animation:  fade 1s ease-in-out;
}

.block.active .answer1 {
    max-height: 1000px;
}

.block.active .answer2 {
    max-height: 3000px;
}

.block.active svg {
    transform: rotate(180deg);
}

svg {
    transition: transform 0.5s ease-in;
}

h6 {
    margin-top: 30px;
    margin-left: 50px; 
}

.page {
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 50px;
    font-style: italic;
}

span {
    position: relative;
    top: 3px;
}

.more-info{
    display: flex;
    flex-wrap: wrap;
    max-width: 705px;
    width: 100%;
    margin-top: 30px;
    margin-bottom: 30px;
}

.image {
    margin: 0 auto;
}

.image img {
    width: 155px;
    height: 105px;
    margin-right: 10px;
    margin-bottom: 10px;
    object-fit: cover;
    cursor: pointer;
}

@keyframes fade{
    from {
        opacity: 0;
        transform: translateY(-10px);
    }
    to {
        opacity: 1;
        transform: translateY(0px);
    }
}

@media (max-width: 415px){
    .block.active .answer{
        overflow-y: visible;
    }
}