section {
    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 120px;
}

.title {
    font-size: 30px;
    font-weight: 500;
    margin-top: 3em;
}

.block {
    max-width: 700px;
    margin-top: 2rem;
    border-bottom: 2px solid #000;
    cursor: pointer;
}

.question {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.answer {
    max-height: 0;
    overflow: hidden;
    transition: max-height 1.4s ease;
}

.block.active .answer{
    max-height: 1000px;
    animation:  fade 1s ease-in-out;
}

@keyframes fade{
    from {
        opacity: 0;
        transform: translateY(-10px);
    }
    to {
        opacity: 1;
        transform: translateY(0px);
    }
}