<div class="container">
    <div class="login" *ngIf="!connected">
        <div class="wrapper">
            <div class="article left">
                <h5>Bienvenue sur Herocar, la première plateforme française d'enchères en ligne d'automobiles de
                    prestige.
                </h5>
                <p>Découvrez des annonces complètes, transparentes, des vendeurs et acheteurs fiables et les frais les
                    plus bas du marché. Acheter et vendre sa voiture devient un plaisir !</p>
            </div>
            <div class="article right">
                <div class="fieldBtn">
                    <button type="button" class="submit_btn" id="next" (click)="login()">s'inscrire maintenant</button>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-info">
        <div class="wrapper">
            <div class="info-left">
                <div class="info">
                    <div class="pages">
                        <span><h6>Pages</h6></span>
                        <span><a (click)="selectRoute('auction')" [routerLink]="['/auctions']">Enchères</a></span>
                        <span><a (click)="selectRoute('sell')">Vendre</a></span>
                        <span><a (click)="selectRoute('faq')" [routerLink]="['/faq']">FAQ</a></span>
                    </div>
                </div>
            </div>
            
        </div>
    </div>
</div>