.login,
.footer-info {
    flex-wrap: wrap;
    margin: 0 auto;
    justify-content: center;
    width: 90%;
    border-top: 2px solid rgb(234, 234, 234);
}

.login {
    margin-top: 100px;
}

.wrapper {
    display: flex;
    margin-top: 50px;
    margin-bottom: 40px;
}

.wrapper .article {
    width: 49%;
    
}

.wrapper .left{
    text-align: left;
}

.wrapper .left p{
    color: rgb(156, 156, 156);
}

.wrapper .right {
    margin-top: 20px;
    text-align: right;
}

button {
    padding: 0px 50px;
    margin: 0 15px;
    width:300px;
    height: 48px;
    outline: none;
    border: 0;
    text-decoration: none;
    font-size: 1rem;
}

.submit_btn {
    border-radius: 0.75em;
    font-weight: 700;
    color: #382b22;
    text-transform: uppercase;
    background: rgb(244, 44, 4);
    transform-style: preserve-3d;
    transition: .05s cubic-bezier(0, 0, .6, 1);
}

.submit_btn::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: inherit;
    background: rgb(194, 35, 5);
    transform: translate3d(0, .5em, -1em);
    transition: .05s cubic-bezier(0, 0, .6, 1);
}

.submit_btn:hover::before {
    transform: translate3d(0, .25em, -1em);
}

.submit_btn {
    color: #FFF;
}

.submit_btn:hover {
    background: rgb(252, 123, 98);
    transform: translate(0, .25em);
}

.submit_btn:active {
    background: rgb(252, 123, 98);
    transform: translate(0, .55em);
}

.submit_btn:active::before {
    transform: translate3d(0, 0, -1em);
}

.info h6 {
    margin-top: 2px;
}

.pages {
    display: flex;
}

.pages span {
    margin-right: 20px;
}
.pages span a{
    cursor: pointer;
    color: rgb(139, 140, 147);
    text-decoration: none; 
}

@media (max-width: 992px) {
    .car-img {
        width: 100%;
        height: 180px;
    }

    .wrapper {
        display: block;
    }

    .wrapper .article {
        width: 100%;
    }

    .wrapper .right {
        margin-top: 40px;
        text-align: center;
    }

}

@media (max-width: 350px) {
    button {
        width: 200px;
    }
}