<div class="container">
    <div class="login">
        <div class="wrapper"  *ngIf="!connected">
            <div class="article left">
                <h5>Bienvenue sur Herocar, la première plateforme française d'enchères en ligne d'automobiles de
                    prestige.
                </h5>
                <p>Découvrez des annonces complètes, transparentes, des vendeurs et acheteurs fiables et les frais les
                    plus bas du marché. Acheter et vendre sa voiture devient un plaisir !</p>
            </div>
            <div class="article right">
                <div class="fieldBtn">
                    <button type="button" class="submit_btn" id="next" (click)="login()">s'inscrire maintenant</button>
                </div>
            </div>
        </div>
    </div>
</div>
