<div class="container">

  <image-cropper style="max-height: 600px; max-width: 800px;" [imageChangedEvent]="data.imageChangedEvent"
    (imageCropped)="imageCropped($event)" [resizeToWidth]="138" [roundCropper]=true>
  </image-cropper>

  <div class="btn">
    <button type="button" class="submit_btn validate" (click)="upload()">
      <span class="material-icons-outlined">
        done
      </span>
    </button>
    <button type="button" class="submit_btn close" (click)="closeDialog()">
      <span class="material-icons-outlined">
        close
      </span>
    </button>
  </div>

</div>