.container {
    margin-top: 6em;
    text-align:center;
}

.banner {
    max-width: 1000px;
    width: 100%;
    margin: 0 auto;
}

.banner img{
    max-width: 1000px;
    max-height: 200px;
    width: 100%;
    height: 100%;
    border-radius: 5px;
    object-fit: cover;
    filter: brightness(40%);
}

.info {
    flex-wrap: wrap;
    margin: 0 auto;
    justify-content: center;
    max-width: 1000px;
    width: 100%;
    background-color: rgb(244, 244, 244);
    margin-top: 100px;
    padding-bottom: 50px;
}

.info h2 {
    padding-top: 60px;
    font-weight: 600;
}

.info .wrapper {
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    justify-content: center;
}

.info .bloc {
    max-width: 219px;
    width: 100%;
    margin: 10px;
    margin-top: 50px;
}

.info .bloc .icon .symbol{
    font-size: 44px;
    padding: 5px;
    border: 4px solid #000;
    border-radius: 100%;
}

.info .bloc h6 {
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 22px;
    font-weight: 550;
}

.title h2 {
    margin-top: 80px;
    margin-bottom: 40px;
    text-align: center;
    font-weight: 700;
}

.car-show {
    display: flex;
    flex-wrap: wrap;
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    justify-content: center;
}

.car-img {
    position: relative;
    display: flex;
    cursor: pointer;
    margin: 5px;
    width: 340px;
    height: 300px;
    background-color: rgb(247, 247, 247);
    overflow: hidden;
}

.car-img .price {
    position: absolute;
    display: flex;
    right: 5%; bottom: 5%;
    color: #fff;
    font-size: 18px;
    font-weight: 500;
}

.car-img span{
    margin-top: -2px;
    margin-left: 5px;
    color: #fff;
    font-size: 30px;
}

.car-img .icon span {
    font-size: 34px;
}

.car-img img{
    cursor: pointer;
    width: 100%;
    height: 100%;
    border-radius: 5px;
    object-fit: cover;
    transition: transform .4s; 
}

.car-img:hover img{
    transform: scale(1.1);
}

@media (max-width: 992px) {
    .car-img {
        width: 100%;
        height: 180px;
    }

}

@media (max-width: 350px) {
    button {
        width: 200px;
    }
}