<div class="container">
    <div class="banner">
        <img class="bg" [src]="display || 'assets/img/blank.jpg'">
        <div class="logo-img">
            <img src="/assets/img/logo2.png" alt="">
            <h1>Herocar</h1>
        </div>
    </div>

    <div class="title">
        <h2>Vendre sa voiture sans stress</h2>
        <div class="txt">
            <p>Herocar vous permet de vendre au meilleur prix, sans effort, en 7 jours. Commencez dès maintenant en
                remplissant le formulaire de vente gratuitement.</p>
        </div>
    </div>

    <div class="fieldBtn">
        <button type="button" class="submit_btn" id="next" (click)="login()">commencer</button>
    </div>

    <div class="info">
        <h2>Les avantages Herocar</h2>
        <div class="wrapper">
            <div class="bloc">
                <div class="icon">
                    <span class="symbol material-icons-outlined">
                        euro_symbol
                    </span>
                </div>
                <h6>Obtenez le meilleur prix</h6>
                <p>Grâce à notre visibilité à l'échelle européenne, notre présentation et notre système d'enchères, vous
                    obtenez toujours le meilleur prix pour votre véhicule.</p>
            </div>
            <div class="bloc">
                <div class="icon">
                    <span class="symbol material-icons-outlined">
                        directions_car
                    </span>
                </div>
                <h6>Vendez plusieurs véhicules</h6>
                <p>Herocar est le meilleur moyen de vendre de larges
                    collections
                    de véhicules. Pas de logistique, des frais bas et une présentation optimisée pour valoriser au mieux
                    votre collection.</p>
            </div>
            <div class="bloc">
                <div class="icon">
                    <span class="symbol material-icons-outlined">
                        home
                    </span>

                </div>
                <h6>Épargnez-vous la logistique</h6>
                <p>Votre véhicule reste chez vous pendant la vente et nous organisons au besoin de l'acheteur son
                    transport à travers toute l'Europe.</p>
            </div>
            <div class="bloc">
                <div class="icon">
                    <span class="symbol material-icons-outlined">
                        sentiment_satisfied
                    </span>
                </div>
                <h6>Gratuit pour tous les véhicules</h6>
                <p>Tout est compris dans le forfait : publication de votre annonce jusqu'à la vente, modifications
                    gratuites et illimitées, jusqu'à 50 photos sur votre annonce, protection de vos données
                    personnelles.
                </p>
            </div>
        </div>
    </div>

    <div class="title">
        <h2>Actuellement en vente sur Herocar</h2>
    </div>

    <div class="car-show">

        <div class="wrap" *ngFor="let car of cars;let i = index">
            <div class="car-img">
                <img [src]="car.firstImage || 'assets/img/blank.jpg'" (click)="openAuction(i)">
                <div class="price">Enchère : {{car.bid}} € <span class="material-icons-outlined">
                        arrow_circle_right
                    </span></div>
            </div>

        </div>

    </div>

</div>