<div class="">
    <label for="file" class="label-file">Choisir une image</label>
    <input id="file" class="input-file" type="file" multiple (change)="selectFiles($event)">
</div>

<div class="">
    <button (click)="show()">Console</button>
</div>

<div class="container" cdkDropList (cdkDropListDropped)="drop($event)">

    <div class="file_upload_list" cdkDrag *ngFor="let image of imageName; let i = index">
        <ul>
            <li>
                <div class="file_item">
                    <div class="icone">
                        <span class="file_icon material-icons-outlined">
                            file_present
                        </span>
                    </div>
                    <div class="file_info">
                        <div class="file_name">
                            {{image}}
                        </div>
                    </div>
                    <span class="exit_icon material-icons-outlined" (click)="removeImage(i)">
                        close
                    </span>

                </div>
            </li>
        </ul>
    </div>

</div>