
    <table>
        <tr id="header">
            <th class="first">Véhicule</th>
            <th>Temps restant</th>
            <th>Prix de réserve</th>
            <th>Meilleur offre</th>
            <th>Options</th>
        </tr>
        <tr>
            <td class="first">Johnzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzz</td>
            <td>Doezzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzz</td>
            <td>Doezzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzz</td>
            <td>24zzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzz</td>
            <td>Male</td>
        </tr>
        <tr>
            <td class="first">Johnzzzzzzzzzzzzzzzzzzzzzz</td>
            <td>Doezzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzz</td>
            <td>Doezzzzzzzzzzz</td>
            <td>24</td>
            <td>Male</td>
        </tr>
        <tr>
            <td class="first">Johnzzzzzzzzzzzzzzzzzzzzzz</td>
            <td>Doezzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzz</td>
            <td>Doezzzzzzzzzzz</td>
            <td>24</td>
            <td>Male</td>
        </tr>
        <tr>
            <td class="first">Johnzzzzzzzzzzzzzzzzzzzzzz</td>
            <td>Doezzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzz</td>
            <td>Doezzzzzzzzzzz</td>
            <td>24</td>
            <td>Male</td>
        </tr>
    </table>
