<div class="container">
    <h2>Mes véhicules en vente</h2>
    <table>
        <tr id="header">
            <th class="first-th">Véhicule</th>
            <th>Prix de réserve</th>
            <th>Temps restant</th>
            <th>Meilleur offre</th>
            <th>Options</th>
        </tr>

        <tr id="{{car.id}}" *ngFor="let car of myCars" [routerLink]="['/car', car.id]">
            <td class="first-td"><img [src]="car.firstImage || 'assets/img/blank.jpg'" [title]="car.brand | uppercase"
                    class="img" [alt]="car.brand" />{{ car.brand }} {{ car.model }}</td>
            <td>{{ car.price | currency : 'EUR' : 'symbol' : '1.2-2' : 'fr'}}</td>
            <td>
                <app-count-down [endDate]="car.endDate"></app-count-down>
            </td>
            <td>{{ car.bid | currency : 'EUR' : 'symbol' : '1.2-2' : 'fr'}}</td>
            <td>
                <div class="wrapper">
                    <div class="edit-btn" [routerLink]="['/edit', car.id]" (click)="stop($event)">
                        <span class="material-icons-outlined edit">
                            edit
                        </span>
                    </div>
                    <div class="delete-btn" (click)="delete($event, car.id)">
                        <span class="material-icons-outlined delete">
                            delete
                        </span>
                    </div>
                </div>
            </td>
        </tr>
    </table>

    <h2 class="h2">Mes enchères en cours</h2>
    <table>
        <tr id="header">
            <th class="first-th">Véhicule</th>
            <th>Prix de réserve</th>
            <th>Temps restant</th>
            <th>Meilleur offre</th>
            <th>Acheteur</th>
        </tr>

        <tr id="{{car.id}}" *ngFor="let car of auctions" [routerLink]="['/car', car.id]">
            <td class="first-td"><img [src]="car.firstImage || 'assets/img/blank.jpg'" [title]="car.brand | uppercase"
                    class="img" [alt]="car.brand" />{{ car.brand }} {{ car.model }}</td>
            <td>{{ car.price | currency : 'EUR' : 'symbol' : '1.2-2' : 'fr'}}</td>
            <td>
                <app-count-down [endDate]="car.endDate"></app-count-down>
            </td>
            <td>{{ car.bid | currency : 'EUR' : 'symbol' : '1.2-2' : 'fr'}}</td>
            <td class="buyer" id="b:{{car.id}}">
                {{ car.buyer }}
            </td>
        </tr>
    </table>
</div>