.container {
    margin-top: 8em;
    min-height: 100px;
    max-width: 1220px;
}

table {
    width: 100%;
    text-transform: capitalize;
}

tr {
    height: 85px;
    border-bottom: 1px solid #ddd;
}

tr:not(#header) {
    transition: all .2s ease-in;
    cursor: pointer;
}

tr:hover:not(#header) {
    background-color: #f5f5f5;
    transform: scale(1.02);
    box-shadow: 2px 2px 12px rgba(0,0,0,0.2), -1px -1px 8px rgba(0,0,0,0.2);
}

th, td {
    padding: 12px;
    text-align: right;
}


.first-th, .first-td {
    text-align: left;
    width: 560px;

}

td {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

img {
    border-radius: 5px;
    height: 85px;
    max-width: 120px;
    width: 100%;
    margin-right: 10px;
    object-fit: cover;
}

.edit {
    margin-right: 10px;
}

.edit:hover {
    color: royalblue;
}

.delete {
    color: red;
}

.delete:hover {
    color: rgb(194, 35, 5);
}

@media (max-width: 500px) {
    img {
        height: 50px;
        max-width: 70px;
        width: 100%;
    }
}

