<div class="container">
    <div class="row" style="margin-top: 50px;">

        <div class="commentBox">
            <div class="avatar">
                <img src={{avatar}}>
            </div>
            <div class="txt">
                <textarea class="form-control" placeholder="Add Public Comment"></textarea>
                <button class="sendBtn" (click)="sendComment()">
                    <span class="material-icons-outlined">
                        send
                    </span>
                </button>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">

                <h2>335 commentaires</h2>

                <div class="userComment">
                    <img src="assets/img/the-interior.jpg">
                    <div class="details">
                        <div class="user">User_1<span class="time">2020-09-13</span></div>
                        <div class="comment">this is my commentthis is my commentthis is my commentthis is my
                            commentthis is my commentthis is my commentthis is my commentthis is my commentthis is my
                            commentthis is my commentthis is my commentthis is my commentthis is my commentthis is my
                            commentthis is my comment</div>
                    </div>
                </div>

                <div class="replies">

                    <div class="userComment">
                        <img src="assets/img/the-interior.jpg">
                        <div class="details">
                            <div class="user">User_1<span class="time">2020-09-13</span></div>
                            <div class="comment">this is my commentthis is my commentthis is my commentthis is my
                                commentthis is my commentthis is my commentthis is my commentthis is my commentthis is
                                my commentthis is my commentthis is my comment</div>
                        </div>
                    </div>

                    <div class="userComment">
                        <img src="assets/img/the-interior.jpg">
                        <div class="details">
                            <div class="user">User_1<span class="time">2020-09-13</span></div>
                            <div class="comment">this is my commentthis is my commentthis is my commentthis is my
                                commentthis is my commentthis is my commentthis is my commentthis is my commentthis is
                                my commentthis is my commentthis is my commentthis is my commentthis is my commentthis i
                            </div>
                        </div>
                    </div>

                    <button class="replyBtn" (click)="toggleShow()">
                        <span>Répondre</span>
                        <span class="material-icons-outlined">
                            reply
                        </span>
                    </button>

                    <div *ngIf="isShown">
                        <div class="replyBox">
                            <div class="txt">
                                <textarea class="form-control" placeholder="Add Public Comment"></textarea>
                                <button class="sendBtn">
                                    <span class="material-icons-outlined">
                                        send
                                    </span>
                                </button>
                            </div>
                        </div>
                    </div>

                </div>
            </div>

        </div>
    </div>
</div>