<div class="container">
    <div class="title">
        <h2 class="title-h2">{{carInfo.brand}} {{carInfo.model}} - {{carInfo.year}}</h2>
        <h4>
            <span class="material-icons-outlined">
                add_moderator
            </span>
            Paiement Sécurisé
        </h4>
    </div>
    <div class="endDate-bid">
        <div class="endDate">
            <p>Termine dans </p>
            <app-count-down [endDate]="carInfo.endDate"></app-count-down>
        </div>
        <div class="bid">
            <p>Meilleure enchère : </p>
            <span>{{carInfo.bid | currency : 'EUR' : 'symbol' : '1.2-2' : 'fr'}}</span>
        </div>
    </div>

    <div class="cover">
        <img [src]="files[0] || 'assets/img/blank.jpg'">
        <div class="more" (click)="scrollFunction()">
            + {{lg}}
        </div>
    </div>

    <div class="wrapper">

        <div class="auction">
            <h5>Enchérir</h5>
            <div class="main-info">
                <div class="car-info">
                    <h6>Meilleure enchère</h6>
                    <p class="txt">
                        {{ carInfo.bid | currency : 'EUR' : 'symbol' : '1.2-2' : 'fr'}}
                        <!-- registerLocaleData(localeFr, 'fr'); -->
                    </p>
                </div>
                <div class="car-info">
                    <h6>Termine dans</h6>
                    <p class="txt">
                        <app-count-down [endDate]="carInfo.endDate"></app-count-down>
                        <!-- [endDate] = même valeur que le input() fichier count-down -->
                    </p>
                </div>
            </div>

            <div *ngIf="loggedIn()">
                <div class="instruction-div">
                    <p class="instruction">Montant de votre enchère :</p>
                </div>
                <div class="bid-select">
                    <div class="value">
                        <input #bidValue type="text" id="bid" class="form_input" autocomplete="off" required
                            (keypress)="OnlyNumbersAllowed($event)">
                    </div>
                    <div class="input">
                        <button type="button" class="btn2" (click)="checkBid(bidValue)">
                            <span class="material-icons-outlined">
                                done
                            </span>
                        </button>
                    </div>
                </div>
            </div>

            <div class="bid-input" *ngIf="!loggedIn()">
                <p>Vous devez être connecté pour enchérir</p>
                <div class="fieldBtn">
                    <button type="button" class="btn submit_btn" (click)="login()">Se Connecter</button>
                </div>
            </div>
            
        </div>

        <div class="user-info">
            <h5>Vendeur</h5>
            <div class="seller-info">
                <div class="avatar">
                    <img src="{{seller.avatar}}">
                </div>
                <div class="username">
                    {{seller.userName}}
                </div>
            </div>
            <h5>Acheteur</h5>
            <div class="seller-info">
                <div class="avatar">
                    <img src="{{buyer.avatar}}">
                </div>
                <div class="username">
                    {{buyer.userName}}
                </div>
            </div>
        </div>

    </div>

    <div class="car-details">
        <div class="row">
            <div class="detail">
                <div class="name">
                    Marque
                </div>
                <div class="value">
                    {{carInfo.brand}}
                </div>
            </div>
            <div class="detail">
                <div class="name">
                    Modèle
                </div>
                <div class="value">
                    {{carInfo.model}}
                </div>
            </div>
            <div class="detail">
                <div class="name">
                    Boite
                </div>
                <div class="value">
                    {{carInfo.gearbox}}
                </div>
            </div>
        </div>

        <div class="row">
            <div class="detail">
                <div class="name">
                    Moteur
                </div>
                <div class="value">
                    {{carInfo.engine}}
                </div>
            </div>
            <div class="detail">
                <div class="name">
                    Puissance
                </div>
                <div class="value">
                    {{carInfo.hp}} CV
                </div>
            </div>
            <div class="detail">
                <div class="name">
                    Energie
                </div>
                <div class="value">
                    {{carInfo.fuel}}
                </div>
            </div>
        </div>

        <div class="row">
            <div class="detail">
                <div class="name">
                    Conso. (l/100)
                </div>
                <div class="value">
                    {{carInfo.consumption}}
                </div>
            </div>
            <div class="detail">
                <div class="name">
                    Kilométrage
                </div>
                <div class="value">
                    {{carInfo.mileage}}
                </div>
            </div>
            <div class="detail">
                <div class="name">

                </div>
                <div class="value">

                </div>
            </div>
        </div>

    </div>

    <div class="wrap">
        <h2>Description</h2>
        <div class="more-info">
            <div>
                <p style="margin-top: 20px;">{{carInfo.description}}</p>
            </div>
        </div>
        <h2 style="text-transform: none;">Informations sur la vente</h2>
        <div class="more-info">
            <div>
                <p style="font-size: 20px; margin-top: 20px;">Dates</p>
                <p>Date d'ouverture des enchères : <span style="font-weight: 500;">{{carInfo.date1}}</span></p>
                <p style="margin-top: -20px;">Date de fin des enchères : <span
                        style="font-weight: 500;">{{carInfo.date2}}</span></p>

                <div style="display: flex; font-style: italic; margin-top: 20px;">
                    <span class="material-icons" style="margin-top: -0.5px;margin-right: 3px;">
                        info
                    </span>
                    <p>
                        Un prix de réserve a été défini, enchérissez pour accéder à l'indicateur</p>
                </div>
            </div>
        </div>

        <h2>Galerie</h2>
        <div class="more-info" id="more-info">
            <div class="image" *ngFor="let image of files; let i = index">
                <img [src]="image || 'assets/img/blank.jpg'" (click)="openDialog(i)">
            </div>
        </div>
    </div>

</div>

<app-comment-section></app-comment-section>