.container {
    width: 700px;
    margin: 0 auto;
    flex-direction: column;
    align-items: center;
}

.title {
    text-align: center;
    margin-bottom: 30px;
}

.title h4{
    font-weight: 600;
}

.field {
    width: 100%;
    padding: 0.5rem 1rem;
    outline: none;
    border: 1px solid rgba(0, 0, 0, 0);
    background-color: rgba(230, 230, 230, 0.6);
    margin-top: 10px;
    margin-bottom: 15px;
    transition: .3s;
}

.field.invalid{
    border-color: red;
}

.main-info{
    display: flex;
    justify-content: space-between;
}

.info span {
    font-size: 20px;
}

textarea{
    height: 200px;
    resize: none;
}

.field:hover{
    background-color: rgba(230, 230, 230, 1);
}

.field:focus{
    background-color: #fff;
    border: 1px solid #000;
}

.button {
    position: relative;
    top: 40px;
    float: right;
    margin: auto;
    display: flex;
}

button {
    padding: 0px 50px;
    width: 250px;
    height: 48px;
    outline: none;
    border: 0;
    text-decoration: none;
    font-size: 1rem;
}

.submit_btn {
    border-radius: 0.75em;
    font-weight: 700;
    color: #382b22;
    text-transform: uppercase;
    background: #000;
    transform-style: preserve-3d;
    transition: .05s cubic-bezier(0, 0, .6, 1);
}

.submit_btn::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: inherit;
    background: rgb(54, 54, 54);
    transform: translate3d(0, .5em, -1em);
    transition: .05s cubic-bezier(0, 0, .6, 1);
}

.submit_btn:hover::before {
    transform: translate3d(0, .25em, -1em);
}

.submit_btn {
    color: #FFF;
}

.submit_btn:hover {
    background: rgb(36, 36, 36);
    transform: translate(0, .25em);
}

.submit_btn:active {
    background: rgb(36, 36, 36);
    transform: translate(0, .55em);
}

.submit_btn:active::before {
    transform: translate3d(0, 0, -1em);
}


@media (max-width: 768px){
    .main-info{
        display: block;
    }

    .title {
        text-align: left;
    }

    .button {
        position: relative;
        top: 40px;
        float: left;
        margin:auto;
        display: flex;
        margin-bottom: 70px;
    }
}