<div class="container">

    <div class="title">
        <h4>Une question ? Contactez-moi !</h4>
        <p>Je vous répondrai sous 24h</p>
    </div>


    <div class="main-info">
        <div class="info name">
            <span>Votre nom</span>
            <input #name id="name" type="text" class="field">
        </div>

        <div class="info">
            <span>Votre email</span>
            <input #email id="email" type="email" class="field">
        </div>
    </div>

    <div class="info">
        <span>Votre message</span>
        <textarea #text id="text" class="field"></textarea>
    </div>

    <div class="button">
        <button class="submit_btn" type="button" (click)="sendMessage(name, email, text)">Envoyer</button>
    </div>

</div>