*{
    list-style: none;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.label-file {
    cursor: pointer;
    color: #00b1ca;
    font-weight: bold;
}
.label-file:hover {
    color: #25a5c4;
}

.input-file {
    display: none;
}

.container{
    border: 2px dashed #c2cdda;
    background: #fff;
    overflow-y: auto;
    height: 300px;
    max-width: 500px;
    margin:0 auto;
}

.title {
    background: #f3f4f8;
    padding: 15px;
    font-size: 18px;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 3px;
}

.file_upload_list .file_item{
    display: flex;
    padding: 15px 20px;
    border: 1px solid #f3f4f8;
}

.file_item .file_info{
    display:flex;
    padding-left: 5px;
    align-items: center;
}

.exit_icon {
    margin-top: 8px;
    margin-left: auto;
    cursor: pointer;
}

.exit_icon:hover {
    color:grey;
}

.file_item .photo_icon {
    color:  #10ac17;
    margin-top: -2px;
}

.file_item .photo_icon:hover {
    color:  #a2e9a5;
}

.container::-webkit-scrollbar {
    width: 16px;
}

.container::-webkit-scrollbar-track {
    background-color: #e4e4e4;
    border-radius: 100px;
}

.container::-webkit-scrollbar-thumb{
    background-color: rgb(193, 193, 193);
    border-radius: 100px;
}

.cdk-drag-preview {
    box-sizing: border-box;
    border-radius: 4px;
    box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
                0 8px 10px 1px rgba(0, 0, 0, 0.14),
                0 3px 14px 2px rgba(0, 0, 0, 0.12);
  }
  
  .cdk-drag-placeholder {
    opacity: 0;
  }
  
  .cdk-drag-animating {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
  }

  .container.cdk-drop-list-dragging .file_upload_list:not(.cdk-drag-placeholder) {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
  }

