<div class="">
    <label for="file" class="label-file">Choisir une image</label>
    <input id="file" class="input-file" type="file" multiple (change)="selectFiles($event)" accept="image/png, image/jpeg">
</div>

<div class="">
    <button (click)="show()">Console</button>
</div>

<div class="container" cdkDropList (cdkDropListDropped)="drop($event)">

    <div class="file_upload_list" cdkDrag *ngFor="let image of imageName; let i = index">
        <ul>
            <li>
                <div class="file_item">

                    <button mat-icon-button (click)="openDialog(i)">
                        <mat-icon class="photo_icon">insert_photo</mat-icon>
                    </button>

                    <div class="file_info">
                        <div class="file_name">
                            {{image}}
                        </div>
                    </div>

                    <span class="exit_icon material-icons-outlined" (click)="removeImage(i)">
                        close
                    </span>

                </div>
            </li>
        </ul>
    </div>

</div>