<div class="container" id="container">
    <input type="checkbox" id="flip">
    <div class="cover">
        <div class="right">
            <img src="/assets/img/swb.png" alt="">
            <div class="text">
                <span class="text-1">
                    <h1>Herocar</h1>
                </span>
                <span class="text-2">Automobiles de prestige</span>
                <div class="wrapper">
                    <div class="bloc">
                        <div class="icon">
                            <span class="symbol material-icons-outlined">
                                euro_symbol
                            </span>
                        </div>
                        <h6>Vendez et achetez au meilleur prix</h6>
                    </div>
                    <div class="bloc">
                        <div class="icon">
                            <span class="symbol material-icons-outlined">
                                directions_car
                            </span>
                        </div>
                        <h6>Épargnez-vous les négociations</h6>
                    </div>
                    <div class="bloc">
                        <div class="icon">
                            <span class="symbol material-icons-outlined">
                                sentiment_satisfied
                            </span>
                        </div>
                        <h6>Gratuit pour tous les véhicules</h6>
                    </div>
                    <span class="text-3">Trouvez la voiture de vos rêves</span>
                </div>
            </div>
        </div>
        <div class="left">
            <img src="/assets/img/356.png" alt="">
            <div class="text">
                <span class="text-1">
                    <h1>Herocar</h1>
                </span>
                <span class="text-2">Automobiles de prestige</span>
                <div class="wrapper">
                    <div class="bloc">
                        <div class="icon">
                            <span class="symbol material-icons-outlined">
                                euro_symbol
                            </span>
                        </div>
                        <h6>Vendez et achetez au meilleur prix</h6>
                    </div>
                    <div class="bloc">
                        <div class="icon">
                            <span class="symbol material-icons-outlined">
                                directions_car
                            </span>
                        </div>
                        <h6>Épargnez-vous les négociations</h6>
                    </div>
                    <div class="bloc">
                        <div class="icon">
                            <span class="symbol material-icons-outlined">
                                sentiment_satisfied
                            </span>
                        </div>
                        <h6>Gratuit pour tous les véhicules</h6>
                    </div>
                    <span class="text-3">Trouvez la voiture de vos rêves</span>
                </div>
            </div>
        </div>
    </div>

    <form action="#">
        <div class="form-content">

            <div class="auth-form login-form" *ngIf="isLoginState()">
                <div class="title">Connexion</div>
                <div class="input-boxes">
                    <div class="input-box">
                        <input #loginEmail type="text" id="email" class="form_input" (click)="resetError('email')"
                            autocomplete="off" required>
                        <label for="email" class="form_label">Email</label>
                    </div>
                    <div class="input-box">
                        <input #loginPassword type="password" id="password" class="form_input"
                            (click)="resetError('password')" autocomplete="off" required>
                        <label for="password" class="form_label">Mot de passe</label>
                    </div>

                    <div class="info info-login" id="info info-login" hidden>
                        <div>
                            <span class="material-icons-outlined exclamation-icon">error</span>
                        </div>
                        <div class="info-text">
                            {{err_login}}
                        </div>
                    </div>

                    <div class="text"><span (click)="onForgotPasswordClick()">Mot de passe oublié?</span></div>
                    <div class="button input-box">
                        <input type="submit" value="Connexion" (click)="onLogin(loginEmail, loginPassword)">
                    </div>
                    <div class="text">Pas encore inscrit? <label for="flip" (click)="setTouched()">Créer un
                            compte</label></div>
                </div>
            </div>

            <div class="auth-form reset-form" *ngIf="isForgotPasswordState()">
                <div class="title">Réinitialiser le mot de passe</div>
                <div class="input-boxes">
                    <div class="input-box">
                        <input #resetEmail id="email2" class="form_input" (click)="resetError('email2')"
                            autocomplete="off" required />
                        <label for="email2" class="form_label">Email</label>
                    </div>

                    <div class="info info-reset" id="info info-reset" hidden>
                        <div>
                            <span class="material-icons-outlined exclamation-icon">error</span>
                        </div>
                        <div class="info-text">
                            {{err_reset}}
                        </div>
                    </div>

                    <div class="button input-box">
                        <input type="submit" value="Réinitialiser" (click)="onResetClick(resetEmail)">
                    </div>
                    <div class="text"><label (click)="onLoginClick()">Connexion</label> | <label for="flip">Créer un
                            compte</label></div>
                </div>
            </div>

            <div class="auth-form" *ngIf="isOkResetState()">
                <div class="validation-box">
                    <div class="icon-div">
                        <span class="icon material-icons-outlined">
                            done
                        </span>
                    </div>
                    <div class="text">Un mail de récupération a été envoyé</div>

                </div>
                <div class="input-boxes">
                    <div class="text"><label (click)="onLoginClick()">Connexion</label></div>
                </div>
            </div>

            <div class="auth-form signup-form">
                <div class="title">Inscription</div>
                <div class="input-boxes">
                    <div class="input-box">
                        <input #registerName type="text" id="userName" class="form_input"
                            (click)="resetError('userName')" autocomplete="off" required>
                        <label for="userName" class="form_label">Nom d'utilisateur</label>
                    </div>
                    <div class="input-box">
                        <input #registerEmail type="text" id="email3" class="form_input" (click)="resetError('email3')"
                            autocomplete="off" required>
                        <label for="email3" class="form_label">Email</label>
                    </div>
                    <div class="input-box">
                        <input #registerPassword type="password" id="password3" (click)="resetError('password3')"
                            class="form_input" autocomplete="off" required />
                        <label for="password3" class="form_label">Mot de passe</label>
                    </div>
                    <div class="input-box">
                        <input #registerConfirmPassword type="password" id="passwordConfirm"
                            (click)="resetError('passwordConfirm')" class="form_input" autocomplete="off" required />
                        <label for="passwordConfirm" class="form_label">Confirmer mot de passe</label>
                    </div>

                    <div class="info info-register" id="info info-register" hidden>
                        <div>
                            <span class="material-icons-outlined exclamation-icon">error</span>
                        </div>
                        <div class="info-text">
                            {{err_register}}
                        </div>
                    </div>

                    <div class="button input-box">
                        <input type="submit" value="Inscription" (click)="onRegisterClick(
                            registerName,
                            registerEmail,
                            registerPassword,
                            registerConfirmPassword
                        )">
                    </div>
                    <div class="text">Vous possédez un compte? <label for="flip" (click)="onLoginClick()">Se
                            connecter</label></div>
                </div>
            </div>

        </div>
    </form>
</div>