<header>
  <nav>
    <div class="container">
      <div class="logo" (click)="activeLink('auction')" [routerLink]="['/auctions']">
        <div class="logo-img">
          <img src="/assets/img/logo.png" alt="">
        </div>
        <h1>Herocar</h1>
      </div>

      <div class="menu">

        <a class="is-active" id="auction" (click)="activeLink('auction')" [routerLink]="['/auctions']">Enchères</a>
        <a id="sell" (click)="activeLink('sell'); selectRoute()">Vendre</a>
        <a id="faq" (click)="activeLink('faq')" [routerLink]="['/faq']">FAQ</a>

        <span *ngIf="!loggedIn()" (click)="onLoginClick()" class="icon material-icons-outlined">account_circle</span>

        <div class="dropdown" *ngIf="loggedIn()">
          <img class="avatar" [src]="userImg">
          <div class="list">
            <h3>{{userName}}</h3>
            <ul>
              <li id="settings" (click)="activeLink('settings')" [routerLink]="['/settings']">
                <span class="material-icons-outlined">
                  settings
                </span>
                <div class="links">
                  Paramètres
                </div>
              </li>
              <li id="bid" (click)="activeLink('bid')" [routerLink]="['/bid']">
                <span class="material-icons-outlined">
                  directions_car_filled
                </span>
                <div class="links">Mes enchères</div>
              </li>
              <li (click)="onLogoutClick()">
                <span class="material-icons-outlined">
                  logout
                </span>
                <div class="links">Déconnexion</div>
              </li>
            </ul>
          </div>

        </div>

      </div>

      <button type="button" (click)="setActive()" class="hamburger">
        <span></span>
        <span></span>
        <span></span>
      </button>
    </div>
  </nav>
</header>

<nav class="mobile-nav">
  <a class="is-active" id="auction_m" (click)="activeLink('auction_m')" [routerLink]="['/auctions']">Enchères</a>
  <a id="sell_m" (click)="activeLink('sell_m'); selectRoute()">Vendre</a>
  <a id="faq_m" (click)="activeLink('faq_m')" [routerLink]="['/faq']">FAQ</a>

  <hr>
  <a *ngIf="!loggedIn()" (click)="onLoginClick()">Connexion</a>
  <img *ngIf="loggedIn()" class="mobile-avatar" [src]="userImg">
  <a *ngIf="loggedIn()" id="settings_m" (click)="activeLink('settings_m')" [routerLink]="['/settings']">Paramètres</a>
  <a *ngIf="loggedIn()" id="bid_m" (click)="activeLink('bid_m')" [routerLink]="['/bid']">Mes enchères</a>
  <a *ngIf="loggedIn()" (click)="onLogoutClick()">Déconnexion</a>

</nav>

<app-alert></app-alert>

<div class="wrapper">
  <div [@routeAnimations]="prepareRoute(outlet)" class="content">
    <router-outlet #outlet="outlet"></router-outlet> <!-- path dans RouterModule -->
  </div>
</div>

<app-footer></app-footer>