<nav class="navbar navbar-expand-lg">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Navbar</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/auctions']">ENCHERÈS</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/vendre']">VENDRE</a>
        </li>
        <li class="nav-item">
          <div *ngIf="loggedIn() && userHasProfile">{{userDocument.publicName}}</div> <!-- replace by {{userDocument?.publicName}} -->
        </li>

      </ul>

      <ul class="nav navbar-nav navbar-right ms-auto">
        <div class="btn-nav">
          <button *ngIf="!loggedIn()" (click)="onLoginClick()">CONNEXION</button>
          <button *ngIf="loggedIn()" (click)="onLogoutClick()">DÉCONNEXION</button>
        </div>
      </ul>

    </div>
  </div>
</nav>

<div [@routeAnimations]="prepareRoute(outlet)" class="content">
  <router-outlet #outlet="outlet"></router-outlet> <!-- path dans RouterModule -->
</div>

<app-profile [show]="loggedIn() && !userHasProfile"></app-profile> <!-- profile.component seulement si show == true -->