<header>
  <nav>
    <div class="container">
      <h1>NAVBAR</h1>

      <div class="menu">

        <a class="is-active" id="auction" (click)="activeLink('auction')" [routerLink]="['/auctions']">Enchères</a>
        <a id="sell" (click)="activeLink('sell')" [routerLink]="['/create']">Vendre</a>
        <a id="faq" (click)="activeLink('faq')" [routerLink]="['/faq']">FAQ</a>

        <span *ngIf="!loggedIn()" (click)="onLoginClick()" class="icon material-icons-outlined">account_circle</span>

        <div class="dropdown" *ngIf="loggedIn()">
          <a class="click">Click Me</a>
          <div class="list">
            <div class="links" [routerLink]="['/settings']">Paramètres</div>
            <div class="links" (click)="onLogoutClick()">Déconnexion</div>
          </div>
        </div>

        <!-- <button *ngIf="loggedIn()" class="dropdown-toggle" type="button" id="dropdownMenuButton1"
          data-bs-toggle="dropdown" aria-expanded="false">
          {{userName}}
        </button> -->

      </div>

      <button type="button" (click)="setActive()" class="hamburger">
        <span></span>
        <span></span>
        <span></span>
      </button>
    </div>
  </nav>
</header>

<nav class="mobile-nav">
  <a class="is-active" id="auction_m" (click)="mobileLink('auction_m')" [routerLink]="['/auctions']">Enchères</a>
  <a id="sell_m" (click)="mobileLink('sell_m')" [routerLink]="['/create']">Vendre</a>
  <a id="faq_m" (click)="mobileLink('faq_m')" [routerLink]="['/faq']">FAQ</a>

  <hr>

  <a *ngIf="!loggedIn()" (click)="onLoginClick()">Connexion</a>
  <a *ngIf="loggedIn()" id="settings_m" (click)="mobileLink('settings_m')" [routerLink]="['/settings']">Paramètres</a>
  <a *ngIf="loggedIn()" (click)="onLogoutClick()">Déconnexion</a>

</nav>

<div [@routeAnimations]="prepareRoute(outlet)" class="content">
  <router-outlet #outlet="outlet"></router-outlet> <!-- path dans RouterModule -->
</div>