<div class="success hide" id="success" hidden>
    <span class="material-icons valid-icon">check_circle</span>
    <span class="msg">Succès: Paramètres enregistrés!</span>
    <span class="close-btn">
        <span class="material-icons-outlined close-icon" (click)="closeSuccess()">close</span>
    </span>
</div>

<div class="alert hide" id="alert" hidden>
    <span class="material-icons-outlined exclamation-icon">error</span>
    <span class="msg">Erreur: Champs invalides!</span>
    <span class="close-btn">
        <span class="material-icons-outlined close-icon" (click)="closeError()">close</span>
    </span>
</div>