.container {
    font-family: "PT Sans Narrow",sans-serif;
    color: #000;
    text-transform: capitalize;
    /* Scroll */
    min-height: 1000px;
    max-height: 80%;
    box-sizing: border-box;
    overflow: auto;
}

#firstCarousel .carousel-inner {
    text-transform: capitalize;
    margin-top: 58px;
    height: 400px;
    background-color: rgb(247, 247, 247);
}

.first-carousel-img {
    -webkit-animation: thing 20s infinite;
    -o-animation: thing 20s infinite;
    animation: thing 20s infinite;
}

.carousel-caption {
    height: 200px;
}

.carousel-caption h5{
    font-size: 42px;
    font-weight: 600;
    left: 5%;
    text-align: left;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    width:100%;
}

.main-box .car-info{
    max-width: 182px;
    width: 100%;
}

.main-box .car-info p {
    color: red;
    left: 5%;
    text-align: left;
}

.car-info h6 {
    font-size: .8571428571rem;
    text-transform: uppercase;
    color: rgba(255, 255, 255, 0.753);
    font-weight: 700;
    margin-top: 1em;
    margin-right: 10px;
    left: 5%;
    text-align: left;
}

.car-info .alter-h6{
    display: none;
}

.filter {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    margin-bottom: 50px;
}

.filter button {
    padding: 0px 90px;
    margin: 0 15px;
    width: 250px;
    height: 48px;
    position: relative;
    display: inline-block;
    outline: none;
    border: 0;
    vertical-align: middle;
    text-decoration: none;
    font-size: 1rem;
}

.filter .filter_btn {
    border-radius: 0.75em;
    font-weight: 700;
    color: #382b22;
    text-transform: uppercase;
    background-color: rgb(233, 234, 235);
    transform-style: preserve-3d;
    transition: .05s cubic-bezier(0, 0, .6, 1);
}

.filter .filter_btn::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: inherit;
    background: rgb(207, 208, 212);
    transform: translate3d(0, .5em, -1em);
    transition: .05s cubic-bezier(0, 0, .6, 1);
}

.filter .filter_btn:hover {
    background: rgb(244, 244, 244);
    transform: translate(0, .25em);
}

.filter .filter_btn:hover::before {
    transform: translate3d(0, .25em, -1em);
}

.filter .filter_btn:active {
    background: rgb(244, 244, 244);
    transform: translate(0, .55em);
}

.filter .filter_btn.active {
    background: rgb(25, 131, 204);
}

.filter .filter_btn.active {
    color: #FFF;
}

.filter .filter_btn.active:hover {
    background: rgb(96, 178, 235);
}

.filter .filter_btn.active:active {
    background: rgb(96, 178, 235);
}

.filter .filter_btn.active::before{
    background: rgb(19, 102, 159);
}

.filter .filter_btn:active::before {
    transform: translate3d(0, 0, -1em);
}

a {
    color: #000;
    text-decoration: none; 
}

.title {
    font-weight: 600;
    text-align: center;
    margin-top: 1.5em;
    margin-bottom: 1em;
}

.card {
    cursor: pointer;
    border-color: rgb(229, 232, 235);
    border-radius: 10px;
    transition: all .2s ease-in;
}

.card:hover {
    box-shadow: 0 5px 15px 0 rgba(0, 0, 0, .2);
    transform: scale(1.02);
}

.card-title, .sub-title {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    width:100%;
    display: inline-block;
    cursor: pointer;
}

.card-title {
    font-size: 24px;
    font-weight: 700;
}

.sub-title {
    font-size: 18px;
    color: rgb(124, 124, 124);
}

.main-box {
    display: flex;
    padding-bottom: 15px;
}

.main-box .main-info {
    max-width: 512px;
    min-width: 182px;
    width: 100%;
}

h5 {
    margin-bottom: -10px;
}

.main-info h6 {
    font-size: .8571428571rem;
    color: #8b8c93;
    text-transform: uppercase;
    font-weight: 700;
    margin-top: 1em;
}

.badge {
    position: absolute;
    z-index: 1;
    margin-top: 5px;
    margin-left: 5px;
}

.loading-bar {
    position: absolute;
    padding-top: 30px;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.loading-animation {
    animation: fadeIn 2s linear;
}

.car-image {
    height: 400px;
    background-color: rgb(247, 247, 247);
}

.carousel-item {
    transition-duration: 0.3s;
  }
  
img {
    height: 400px;
    object-fit: cover;
}


.info, .info-box {
    padding-top: 5px;
    display: flex;
}

.info {
    margin-top: 10px;
    justify-content: space-around;
}

.info-box .name {
    font-weight: 550;
    color: rgb(77, 77, 77);
}

.info-box .value{
    position: relative;
    font-size: .8571428571rem;
    text-transform: uppercase;
    font-weight: 550;
    padding-top: 1px;
    padding-left: 5px;
}

.info span {
    position: relative;
    margin-top: 2px;
}

@keyframes thing {
    0% {
        transform: scale(1, 1);
        }
        50% {
        transform: scale(1.2, 1.2);
        }
        100% {
        transform: scale(1, 1);
        }
}

  @keyframes fadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
}

@media (max-width: 992px) {
    .filter button {
        margin: 0 5px;
    }
}

@media (max-width: 768px) {
    .filter button {
        padding: 0px 0px;
    }
}


@media (max-width: 470px) {
    .info-box .name {
        display: none;
    }
    
    .carousel-caption h5 {
        font-size: 32px;
    }
}

@media (max-width: 415px) {
    .car-info .main-h6 {
        display: none;
    }

    .car-info .alter-h6 {
        display: block;
    }

}

@media (max-width: 340px) {
    .main-box {
        display: block;
    }
    .filter button {
        padding: 0px 0px;
        margin: 0px 5px;
    }

    .carousel-caption {
        height: 250px;
    }    

    .car-info .main-h6 {
        display: block;
    }

    .car-info .alter-h6 {
        display: none;
    }
}

