.container {
    font-family: "PT Sans Narrow",sans-serif;
    color: #000;

    /* Scroll */
    max-height: 80%;
    box-sizing: border-box;
    overflow: auto;
}

a {
    color: #000;
    text-decoration: none; 
}

.title {
    text-align: center;
    margin-top: 3em;
    margin-bottom: 1em;
}

.card {
    cursor: pointer;
    border-color: rgb(229, 232, 235);
    border-radius: 10px;
    
}

.card:hover {
    box-shadow: 0 5px 15px 0 rgba(0, 0, 0, .2);
    top: -3px;
}

.card-title, .sub-title {

    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    width:100%;
    display: inline-block;
    cursor: pointer;
}

.card-title {
    font-size: 24px;
    font-weight: 700;
}

.sub-title {
    font-size: 18px;
    color: rgb(124, 124, 124);
}

.main-box {
    display: flex;
    padding-bottom: 15px;
}

.main-box .main-info {
    max-width: 512px;
    min-width: 182px;
    width: 100%;
}

.info, .info-box {
    padding-top: 5px;
    display: flex;
}

.info {
    justify-content: space-around;
}

.info-box .value{
    position: relative;
    font-size: .8571428571rem;
    text-transform: uppercase;
    font-weight: 550;
    color: rgb(77, 77, 77);
    margin-top: 12px;
    padding-left: 5px;
}

.info span {
    position: relative;
    margin-top: 12px;
}

h5 {
    margin-bottom: -10px;
}

h6 {
    font-size: .8571428571rem;
    color: #8b8c93;
    text-transform: uppercase;
    font-weight: 700;
    margin-top: 1em;
}

.badge {
    position: absolute;
    z-index: 99;
    margin-top: 5px;
    margin-left: 5px;
}

.loading-bar {
    position: absolute;
    padding-top: 30px;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.loading-animation {
    animation: fadeIn 2s linear;
}

.car-image {
    height: 400px;
    background-color: rgb(247, 247, 247);;
}

.carousel-item {
    transition-duration: 0.3s;
  }
  
img {
    height: 400px;
    object-fit: cover;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  background-color: rgba(0, 0, 0, 0.300);
}

.carousel-control-prev:hover .carousel-control-prev-icon,
.carousel-control-next:hover .carousel-control-next-icon{
    background-color: black;
}

  @keyframes fadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
}

@media (max-width: 470px) {
    .info-box .name {
        display: none;
    }
}

@media (max-width: 340px) {
    .main-box {
        display: block;
    }
}

