<h2 class="title" *ngIf="cars && cars.length > 0">{{ title }}</h2>
<!-- contenu affiché que si la liste cars n'est pas vide -->

<div class="container">
  <!-- 
  <div class="row">
    <div class="col-sm">
      <input class="favorite styled" type="button" value="TOUS" (click)="setType(0)">
    </div>
    <div class="col-sm">
      <input class="favorite styled" type="button" value="AUTOS" (click)="setType(1)">
    </div>
    <div class="col-sm">
      <input class="favorite styled" type="button" value="MOTOS" (click)="setType(2)">
    </div>
  </div> -->

  <div class="row gy-4">
    <div class="col-lg-6" *ngFor="let car of filteredCars">
      <div class="card" id="card" [routerLink]="['/car', car.id]">
        <div class="card-body">

          <h5 class="card-title">
            {{ car.brand }} {{ car.model }}
          </h5>

          <div class="sub-title">
            {{ car.engine }} {{ car.hp }} 
          </div>

          <div class="main-box">
            <div class="main-info">
              <h6>Meilleure enchère :</h6>
              <p class="card-text">
                {{ car.price | currency : 'EUR' : 'symbol' : '1.2-2' : 'fr'}}
                <!-- registerLocaleData(localeFr, 'fr'); -->
              </p>
            </div>
            <div class="main-info">
              <h6>Countdown :</h6>
              <p class="card-text">
                <app-count-down [endDate]="car.endDate"></app-count-down>
                <!-- [endDate] = même valeur que le input() fichier count-down -->
              </p>
            </div>
          </div>
          
          <span class="badge alert-success badge-pill badge-info" *ngIf="car.year > 1998">
            Nouveau </span>

          <div class="car-image">

            <div class="loading-bar" *ngIf="car.imageUrls[0]==null">
              <app-bar-loading></app-bar-loading>
            </div>

            <div class="loading-animation">
              <div id="carousel{{car.id}}" class="carousel slide" data-bs-interval="false">
                <div class="carousel-inner">

                  <div class="carousel-item" *ngFor="let image of car.imageUrls let i = index"
                    [ngClass]="{'active': i == 0 }">
                    <a [routerLink]="['/car', car.id]">
                      <img [src]="image ||''" [title]="car.brand | uppercase" class="card-img-top" [alt]="car.brand" />
                    </a>
                  </div>

                  <a (click)="delete($event)" class="carousel-control-prev" [attr.data-bs-target]="'#carousel' + car.id"
                    type="button" data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                  </a>
                  <a (click)="delete($event)" class="carousel-control-next" [attr.data-bs-target]="'#carousel' + car.id"
                    type="button" data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                  </a>

                </div>
              </div>
            </div>

          </div>

          <div class="row">
            <div class="info">

              <div class="info-box">
                <div class="name">
                  <h6>Année :</h6>
                </div>
                <div class="value">
                  {{ car.year }}
                </div>
              </div>

              <span id="span1">|</span>

              <div class="info-box">
                <div class="name">
                  <h6>Km. :</h6>
                </div>
                <div class="value">
                  {{ car.mileage }}
                </div>
              </div>

              <span id="span2">|</span>

              <div class="info-box">
                <div class="name">
                  <h6>Energie :</h6>
                </div>
                <div class="value">
                  {{ car.fuel }}
                </div>
              </div>

            </div>
          </div>

        </div>
      </div>
    </div>
  </div>

  <div class="load">
    <button (click)="loadMore()">Load More</button>
  </div>


  <!-- <div class="row">
    <input type="text" class="form-control" [(ngModel)]="carFilter">
  </div>
 -->

</div>

<div class="search-results" infiniteScroll [infiniteScrollDistance]="10" [infiniteScrollThrottle]="1000"
  (scrolled)="onScrollEvent()"></div>