<div class="container">
    <div id="carousel" class="carousel" data-bs-interval="false">

        <span class="material-icons-outlined" (click)="closeDialog()">
            cancel
        </span>

        <div class="carousel-inner">
            <div class="carousel-item" *ngFor="let image of data.imageURL; let i = index"
                [ngClass]="{'active': i == data.index }">
                <img [src]="image" />
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carousel" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carousel" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
</div>