.carousel {
    height: 500px;
    width: 900px;
}

.carousel-inner {
    width: 100%;
    height: 100%;
  }

 .mat-dialog-content{
    overflow-y: hidden; /* Hide vertical scrollbar */
    overflow-x: hidden; /* Hide horizontal scrollbar */
 }
