<div class="container">
    <div class="title">Mes informations</div>

    <form novalidate (ngSubmit)="updateUserName()" [formGroup]="profileForm">

        <img [src]="imgURL">

        <div class="">
            <app-file-upload (imageEvent)="receiveURL($event)" formControlName="profileImage"></app-file-upload>
        </div>

        <div class="user-details">

            <div class="input-box">
                <label for="profileUserNameId" class="details"> Nom d'utilisateur </label>
                <input id="profileUserNameId" type="text" class="form-control" formControlName="profileUserName"
                    required>
                <span class="text-danger"
                    *ngIf="profileForm.get('profileUserName').hasError('required') && profileForm.get('profileUserName').touched">Nom
                    d'utilisateur requis</span>
            </div>

            <div class="input-box">
                <label for="profileLastNameId" class="details"> Nom </label>
                <input id="profileLastNameId" type="text" class="form-control" formControlName="profileLastName">
            </div>

            <div class="input-box">
                <label for="profileFirstNameId" class="details"> Prénom </label>
                <input id="profileFirstNameId" type="text" class="form-control" formControlName="profileFirstName">
            </div>

            <div class="input-box">
                <label for="profileEmail" class="details"> Email </label>
                <input id="profileEmail" type="text" class="form-control" formControlName="profileEmail">
            </div>

            <div class="input-box">
                <label for="profileAddress" class="details"> Adresse </label>
                <input id="profileAddress" type="text" class="form-control" formControlName="profileAddress">
            </div>

            <div class="input-box">
                <label for="profilePhoneNumberId" class="details"> Numéro de téléphone </label>
                <input id="profilePhoneNumberId" type="number" class="form-control"
                    formControlName="profilePhoneNumber">
            </div>

            <div class="text-center">
                <button class="btn" type="submit">
                    Enregistrer les paramètres
                </button>
            </div>

        </div>
    </form>

</div>

<pre>
    {{ profileForm.value | json }}
</pre>