.container {
    margin-top: 6em;
    background: #fff;
    height: 630px;
    width: 100%;
    max-width: 800px;
    padding: 25px 40px 10px 40px;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.1);
}

.avatar {
    text-align: center;
    margin:auto;
    display:flex;
    width: 138px;
    height: 138px;
    border-radius: 50%;
}

.button {
    position: relative;
    top: 20px;
    margin:auto;
    display: flex;
}

button {
    padding: 0px 50px;
    margin: 0 15px;
    width: 250px;
    height: 48px;
    outline: none;
    border: 0;
    text-decoration: none;
    font-size: 1rem;
}

.submit_btn {
    border-radius: 0.75em;
    font-weight: 700;
    color: #382b22;
    text-transform: uppercase;
    background: rgb(25, 131, 204);
    transform-style: preserve-3d;
    transition: .05s cubic-bezier(0, 0, .6, 1);
}

.submit_btn::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: inherit;
    background: rgb(19, 102, 159);
    transform: translate3d(0, .5em, -1em);
    transition: .05s cubic-bezier(0, 0, .6, 1);
}

.submit_btn:hover::before {
    transform: translate3d(0, .25em, -1em);
}

.submit_btn {
    color: #FFF;
}

.submit_btn:hover {
    background: rgb(96, 178, 235);
    transform: translate(0, .25em);
}

.submit_btn:active {
    background: rgb(96, 178, 235);
    transform: translate(0, .55em);
}

.submit_btn:active::before {
    transform: translate3d(0, 0, -1em);
}

.container form{
    padding: 30px 0 0 0 0;
    
}

.container form .user-details{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 32px 0;
}

form .user-details .input-data{
    width: calc(100% / 2 - 20px);
    position: relative;
    margin-bottom: 50px;
    border-bottom: 2px solid silver;
}

.user-details .input-data input {
    display: block;
    height: 100%;
    width: 100%;
    border: none;
    font-size: 17px;
}

.input-data label {
    position: absolute;
    bottom: 10px;
    font-size: 16px;
    pointer-events: none;
    transition: all 0.3s ease;
}

.input-data input:invalid ~ label::after{
    content: "*";
    color: rgb(221, 8, 8);
}

.input-data input:invalid ~ label{
    color: rgb(221, 8, 8);
}


.input-data input:focus ~ label::after{
    content: "";
}

.input-data input:focus {
    outline: none;
}


.input-data input:focus ~ label,
.input-data input:not(:placeholder-shown) ~ label {
    transform: translateY(-20px);
    color: #3498db;
    font-size: 14px;
}

.input-data .underline {
    position: absolute;
    bottom: -2px;
    height: 2px;
    width: 100%;
}

.input-data .underline:before,
.input-data .underline:after {
    position: absolute;
    content: "";
    height: 100%;
    width: 100%;
    background: #3498db;
    transform: scaleX(0);
    transform-origin: center;
    transition: transform 0.3s ease;
}

.input-data input:focus ~ .underline::before, .underline::after {
    transform: scaleX(1);
}

.info {
    position: relative;
    display: flex;
    flex-direction:row-reverse;
    height: 30px;
    width: 100%;
    color: rgb(221, 8, 8);
}

.exclamation-icon {
    margin-right: 5px;
    color: rgb(221, 8, 8);
}

.blank {
    width: 100%;
    height: 30px;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

@media (max-width: 700px) {

    .container {
        height: 730px;
    }

    .container .text {
        font-size: 30px;
    }

    .container form {
        padding: 10px 0 0 0 0;
    }

    .container form .user-details {
        display: block;
    }

    .button {
        display: flex;
        justify-content: center;
    }

    form .user-details .input-data{
        width: 100%
    }

    form .user-details .input-data {
        margin: 35px 0!important;
    }

}

@keyframes show_slide {
    0%{
        transform: translateX(100%);
    }
    40%{
        transform: translateX(-10%);
    }
    80%{
        transform: translateX(0%);
    }
    100%{
        transform: translateX(-10px);
    }
}

@keyframes hide_slide {
    0% {
        transform: translateX(-10px);
    }
    100% {
        transform: translateX(100%);
    }
}

