input.ng-invalid.ng-touched {
    border: 1px solid red;
  }

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

  .container{
    max-width: 700px;
    width:100%;
  }

  .container .title{
    font-size: 25px;
    font-weight: 500;
    position: relative;
  }

  .container .title::before{
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    height: 3px;
    width: 30px;
    background: black;
  }

  form .user-details .input-box{
    margin-bottom: 15px;
  }

  .user-details .input-box .details{
    display: block;
    font-weight: 500;
    margin-bottom: 5px;
  }

.user-details .input-box input{
  height: 45px;
  width: 100%;
  outline: none;
  border-radius: 5px;
  font-size: 16px;
  transition: all 0.3s ease;
}

form .btn {
  height: 100%;
  width: 50%;
  outline: none;
  color: #fff;
  border: none;
  font-size: 18px;
  font-weight: 500;
  letter-spacing: 1px;
  border-radius: 5px;
  margin-top: 15px;
  background: black;
}