<div class="container">

    <form novalidate (ngSubmit)="updateUserName()" [formGroup]="profileForm">

        <img class="avatar" [src]="imgURL">

        <app-file-upload (imageEvent)="receiveURL($event)" formControlName="profileImage"></app-file-upload>

        <div class="user-details">

            <div class="input-data">
                <input id="profileUserNameId" type="text" class="" formControlName="profileUserName" autocomplete="off"
                    placeholder=' ' required>
                <div class="underline"></div>
                <label for="profileUserNameId" class="details"> Nom d'utilisateur </label>
            </div>

            <div class="input-data">
                <input id="profileLastNameId" type="text" class="" formControlName="profileLastName" autocomplete="off"
                    placeholder=' '>
                <div class="underline"></div>
                <label for="profileLastNameId" class="details"> Nom </label>
            </div>

            <div class="input-data">
                <input id="profileFirstNameId" type="text" class="" formControlName="profileFirstName"
                    autocomplete="off" placeholder=' '>
                <div class="underline"></div>
                <label for="profileFirstNameId" class="details"> Prénom </label>
            </div>

            <div class="input-data">
                <input id="profileEmail" type="text" class="" formControlName="profileEmail" autocomplete="off"
                    placeholder=' '>
                <div class="underline"></div>
                <label for="profileEmail" class="details"> Email </label>
            </div>

            <div class="input-data">
                <input id="profileAddress" type="text" class="" formControlName="profileAddress" autocomplete="off"
                    placeholder=' '>
                <div class="underline"></div>
                <label for="profileAddress" class="details"> Adresse </label>
            </div>

            <div class="input-data">
                <input id="profilePhoneNumberId" type="number" class="" formControlName="profilePhoneNumber"
                    autocomplete="off" placeholder=' '>
                <div class="underline"></div>
                <label for="profilePhoneNumberId" class="details"> Numéro de téléphone </label>
            </div>

            <div class="blank" id="blank"><span></span></div>

            <div class="info" id="info" hidden>
                Erreur: Champs invalides
                <div>
                    <span class="material-icons-outlined exclamation-icon">error</span>
                </div>
            </div>

            <div class="button">
                <button class="submit_btn" type="submit">Enregistrer</button>
            </div>

        </div>

    </form>

</div>

<div class="alert hide" id="alert" hidden>
    <span class="material-icons valid-icon">check_circle</span>
    <span class="msg">Succès: Paramètres enregistrés!</span>
    <span class="close-btn">
        <span class="material-icons-outlined close-icon" (click)="closeSuccess()">close</span>
    </span>
</div>

<!-- <pre>
    {{ profileForm.value | json }}
</pre> -->