<div class="container">
    <div class="card">

        <div class="card-header text-white bg-info">
            Test
        </div>

        <div class="card-body">
            <form novalidate (ngSubmit)="updateUserName()" [formGroup]="profileForm">
                <div class="form-group row mb-2">
                    <label for="profileSurnameId" class="col-md-2 col-form-label"> Nom </label>
                    <div class="col-md-8">
                        <input id="profileSurnameId" type="text" class="form-control" formControlName="profileSurname">
                    </div>
                </div>
                <div class="form-group row mb-2">
                    <label for="profileNameId" class="col-md-2 col-form-label"> Prénom </label>
                    <div class="col-md-8">
                        <input id="profileNameId" type="text" class="form-control" formControlName="profileName">
                    </div>
                </div>
                <div class="form-group row mb-2">
                    <label for="profileUserNameId" class="col-md-2 col-form-label"> Nom d'utilisateur </label>
                    <div class="col-md-8">
                        <input id="profileUserNameId" type="text" class="form-control" formControlName="profileUserName" required>
                    </div>
                </div>
                <div class="form-group row mb-2">
                    <label for="profileEmail" class="col-md-2 col-form-label"> Email </label>
                    <div class="col-md-8">
                        <input id="profileEmail" type="text" class="form-control" formControlName="profileEmail">
                    </div>
                </div>
                <div class="form-group row mb-2">
                    <label for="profileAddress" class="col-md-2 col-form-label"> Adresse </label>
                    <div class="col-md-8">
                        <input id="profileAddress" type="text" class="form-control" formControlName="profileAddress">
                    </div>
                </div>
                <div class="form-group row mb-2">
                    <label for="profilePhoneNumberId" class="col-md-2 col-form-label"> Numéro de téléphone </label>
                    <div class="col-md-8">
                        <input id="profilePhoneNumberId" type="text" class="form-control" formControlName="profilePhoneNumber">
                    </div>
                </div>

                <div class="form-group row mb-2">
                    <div class="offset-md-2 col-md-4">
                        <button class="btn btn-info mr-3" type="submit" >
                            sauvegarder
                        </button>
                        <button class="btn btn-outline-secondary mr-3" type="button" [routerLink]="['/auctions']">
                            annuler
                        </button>
                    </div>
                </div>
            </form>
        </div>

    </div>
</div>

<pre>
    {{ profileForm.value | json }}
</pre>