.container{
    max-width: 700px;
    position: relative;
    margin-top: 6em;
}

form .page{
    margin-top: 50px;
    background: #fff;
    padding: 25px 25px;
    border-radius: 5px;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 700px;
}

.fieldBtn {
    position: absolute;
    bottom: 0;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    text-align: center;
    margin-bottom: -30px;
}

.fieldBtn2 {
    position: absolute;
    bottom: 0;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    text-align: center;
    margin-bottom: 130px;
}

.fieldBtn3 {
    margin-bottom: 60px;
}

button {
    padding: 0px 50px;
    margin: 0 15px;
    width: 250px;
    height: 48px;
    outline: none;
    border: 0;
    text-decoration: none;
    font-size: 1rem;
}

.submit_btn {
    border-radius: 0.75em;
    font-weight: 700;
    color: #382b22;
    text-transform: uppercase;
    background: rgb(244, 44, 4);
    transform-style: preserve-3d;
    transition: .05s cubic-bezier(0, 0, .6, 1);
}

.submit_btn::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: inherit;
    background: rgb(194, 35, 5);
    transform: translate3d(0, .5em, -1em);
    transition: .05s cubic-bezier(0, 0, .6, 1);
}

.submit_btn:hover::before {
    transform: translate3d(0, .25em, -1em);
}

.submit_btn {
    color: #FFF;
}

.submit_btn:hover {
    background: rgb(252, 123, 98);
    transform: translate(0, .25em);
}

.submit_btn:active {
    background: rgb(252, 123, 98);
    transform: translate(0, .55em);
}

.submit_btn:active::before {
    transform: translate3d(0, 0, -1em);
}

#page1{
    z-index: 3;
}

#page2{
    z-index: 2;
}

#page3{
    z-index: 1;
}

.input-box #words{
    color: rgb(158, 158, 158);
    float: right;
}

.title{
    font-size: 25px;
    font-weight: 500;
    position: relative;
    margin-bottom: 30px;
}

.title::before{
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    height: 3px;
    width: 30px;
    background-color: black;
}

.container .car-details{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.container .car-details .input-box {
    margin-bottom: 15px;
    width: calc(100% / 2 - 20px);
}

.input-box input {
    height: 45px;
    width: 100%;
    outline: none;
    border-radius: 5px;
    border: 1px solid #ccc;
    padding-left: 15px;
    font-size: 16px;
    transition: all 0.3s ease;
}

.input-box textarea {
    min-height: 200px;
    height: auto;
    width: 100%;
    outline: none;
    border-radius: 5px;
    border: 1px solid #ccc;
    padding-left: 15px;
    font-size: 16px;
    transition: all 0.3s ease;
    resize: none;
}

.input-box input:focus,
.input-box input:valid {
    border-color: #1683ff;
}

.input-box input.ng-touched.ng-invalid {
    border-color: red;
}

.input-box textarea.ng-touched.ng-invalid {
    border-color: red;
}

.btn {
    margin-top: 30px;
    height: 100%;
    width: 100%;
    outline: none;
    color: #fff;
    border: none;
    font-size: 18px;
    font-weight: 500;
    border-radius: 5px;
    letter-spacing: 1px;
    background-color:  black;
}

.btn:hover{
    background-color:  rgb(88, 88, 88);
}

.radio-container {
    width: 80%;
    font-size: 16px;
    margin-bottom: 15px;
}

input[type="radio"] {
    display: none;
}

.radio-container label {
    position: relative;
    cursor: pointer;
    font-weight: bold;
    padding-right: 32px;

}

.radio-container label::before {
    content: "";
    border: 2px solid #222;
    display: inline-block;
    width: 30px;
    height: 30px;
    margin: -8px 20px;
    margin-left: 0;
    border-radius: 50%;

}

.radio-container label::after {
    content: "";
    display: inline-block;
    position: absolute;
    width: 20.5px;
    height: 21px;
    background: rgba(34, 34, 34, 0);
    left: 5px;
    top: 8px;
    margin: -8px 20px;
    margin-left: 0;
    border-radius: 50%;
    transition: all 0.4s;
 }

input[type="radio"]:checked + label::after {
    background: rgba(34, 34, 34, 1);
 }

.stepProgressBar{
    display: flex;
    width: 300px;
    margin: 0 auto;
    margin-top: 40px;
    margin-bottom: 40px;
    justify-content: space-around;
    align-items: flex-end;
 }

 .stepProgressBar .step{
     position: relative;
 }

 .stepProgressBar .step .bullet{
    font-size: 18px;
    font-weight: 500;
    padding-top: 3px;
    padding-left: 8px;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    border: 2px solid #000;
    display: inline-block;
    position: relative;
    transition: background-color 500ms;
    line-height: 20px;
 }

 .bullet.uncompleted{
    color: #000;
    background-color: #fff;
    z-index: 1; 
 }

 .bullet.uncompleted::after{
    content: '';
    position: absolute;
    height: 2px;
    width: 54px;
    background-color: #000;
    right: -63px;
    bottom: 12px;
 }

.stepProgressBar .step:last-child .bullet.uncompleted::after{
   display: none;
}

.stepProgressBar .step .bullet.uncompleted::after{
    transform: scaleX(0);
    transform-origin: left;
    animation: animate 0.3s linear forwards;
}

.stepProgressBar .step .icon{
    position: absolute;
    top: 3px;
    left: 2px;
    color: #000;
 }

 .disable-input {
    pointer-events:none;
    color: #AAA;
    background: #ccc;
 }

 .instruction {
    margin-bottom: 30px;
 }

 .instruction p{
   display: flex;
 }

 .instruction .p1 {
    margin-bottom: -2px;
 }

 .photo_icon {
    position: relative;
    margin-left: 5px;
    margin-right: 5px;
    color: #10ac17;
 }

 /* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

/* ------------------ */
 
@keyframes animate {
    100%{
        transform: scaleX(1);
    }
}

@keyframes show_slide {
    0%{
        transform: translateX(100%);
    }
    40%{
        transform: translateX(-10%);
    }
    80%{
        transform: translateX(0%);
    }
    100%{
        transform: translateX(-10px);
    }
}

@keyframes hide_slide {
    0% {
        transform: translateX(-10px);
    }
    100% {
        transform: translateX(100%);
    }
}

@media (max-width: 584px){
    .container{
        max-width: 100%;
        height: 1300px;
    }

    .container .car-details .input-box {
        margin-bottom: 15px;
        width: 100%;
    }

    .fieldBtn {
        display: flex;
        justify-content: center;
        margin-bottom: -400px;
    }

    .fieldBtn2 {
        display: flex;
    }

    .fieldBtn .submit_btn {
        margin: 0px 0px;
    }

    .submit_btn {
        padding: 0px 0px;
    }

    .radio-container label{
        margin-bottom: 10px;
    }

}

@media (max-width: 408px){
    .instruction p{
        display: block;
      }
}