<form novalidate (ngSubmit)="createCar()" [formGroup]="carForm">

    <div class="container">
        <div class="title">Détails du vehicule</div>
        <div class="car-details">

            <div class="radio-container">
                <input type="radio" formControlName="carType" id="carTypeAuto" value="auto" checked>
                <label class="form-check-label" for="carTypeAuto">Auto</label>
                <input type="radio" formControlName="carType" id="carTypeMoto" value="moto">
                <label class="form-check-label" for="carTypeMoto">Moto</label>
            </div>

            <div class="input-box">
                <label for="carBrandId" class="label-name">
                    <span class="details">
                        Marque
                    </span>
                </label>
                <input id="carBrandId" type="text" autocomplete="off" class="" formControlName="carBrand" required>
            </div>

            <div class="input-box">
                <label for="carBrandId" class="label-name">
                    <span class="details">
                        Marque
                    </span>
                </label>
                <input id="carBrandId" type="text" autocomplete="off" class="" formControlName="carBrand" required>
            </div>

            <div class="input-box">
                <label for="carBrandId" class="label-name">
                    <span class="details">
                        Marque
                    </span>
                </label>
                <input id="carBrandId" type="text" autocomplete="off" class="" formControlName="carBrand" required>
            </div>

            <div class="input-box">
                <label for="carBrandId" class="label-name">
                    <span class="details">
                        Marque
                    </span>
                </label>
                <input id="carBrandId" type="text" autocomplete="off" class="" formControlName="carBrand" required>
            </div>

            <div class="input-box">
                <label for="carBrandId" class="label-name">
                    <span class="details">
                        Marque
                    </span>
                </label>
                <input id="carBrandId" type="text" autocomplete="off" class="" formControlName="carBrand" required>
            </div>

            <div class="input-box">
                <label for="carBrandId" class="label-name">
                    <span class="details">
                        Marque
                    </span>
                </label>
                <input id="carBrandId" type="text" autocomplete="off" class="" formControlName="carBrand" required>
            </div>

            <div class="input-box">
                <label for="carBrandId" class="label-name">
                    <span class="details">
                        Marque
                    </span>
                </label>
                <input id="carBrandId" type="text" autocomplete="off" class="" formControlName="carBrand" required>
            </div>

        </div>

        <app-upload-box class="upload-box" formControlName="carImage" (imageEvent)="receiveName($event)">
        </app-upload-box>


        <div class="text-center">
            <button class="btn" type="submit">
                Enregistrer les paramètres
            </button>
        </div>

    </div>

</form>






<pre>
    {{ carForm.value | json }}
</pre>